In [32]:
import pandas as pd
from io import StringIO

data = '''ID,Project,Cost,Status
A001,Project 1,1002000,Finished
A002,Project 2,2000000,Ongoing
A003,Project 3,4500000,Finished
A004,Project 4,5500000,Ongoing
A005,Project 5, ,Finished
A002,Project 6,680000,Failed
A005,Project 7,400000,Finished
A003,Project 8,350000,Failed
A001,Project 9, ,Ongoing
A003,Project 10,300000,Finished
A001,Project 11,2000000,Failed
A004,Project 12,1000000,Ongoing
A004,Project 13,3000000,Finished
A005,Project 14,2000000,Finished
'''
Project= pd.read_csv(StringIO(data))
print(Project)

      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5           Finished
5   A002   Project 6   680000    Failed
6   A005   Project 7   400000  Finished
7   A003   Project 8   350000    Failed
8   A001   Project 9            Ongoing
9   A003  Project 10   300000  Finished
10  A001  Project 11  2000000    Failed
11  A004  Project 12  1000000   Ongoing
12  A004  Project 13  3000000  Finished
13  A005  Project 14  2000000  Finished

In [34]:
import pandas as pd 
from io import StringIO
data = '''ID,Name,Gender,City,Age
A001,Jhon Alter,M,Paris,25
A002,Alice Luxumberg,F,London,27
A003,Tom Sabestine,M,Berlin,29 
A004,Nina Adgra,F,Newyork,31
A005,Amy Johny,F,Madrid,30
'''
Employee = pd.read_csv(StringIO(data))
print(Employee)

     ID             Name Gender     City  Age
0  A001       Jhon Alter      M    Paris   25
1  A002  Alice Luxumberg      F   London   27
2  A003    Tom Sabestine      M   Berlin   29
3  A004       Nina Adgra      F  Newyork   31
4  A005        Amy Johny      F   Madrid   30

In [36]:
import pandas as pd
from io import StringIO
data ='''ID,Designation Level
A001,2
A002,2
A003,3
A004,2
A005,3
'''
Seniority_level = pd.read_csv(StringIO(data))
print(Seniority_level)

     ID  Designation Level
0  A001                  2
1  A002                  2
2  A003                  3
3  A004                  2
4  A005                  3

In [37]:
#task 2 :compute missing values in cost column using running avg with a for loop
cost_values= Project['Cost'].tolist() # convert cost into a list
for i in range(len(cost_values)):
    if pd.isna(cost_values[i]): #check if value is missing
        valid_values=[val for val in cost_values[:i] if not pd.isna(val)]
        if valid_values:
            runnig_avg= sum(valid_values)/len(valid_values)
            cost_values[i]=runnig_avg
        else:
            cost_values[i] =0 
Project['Cost'] = cost_values
print(Project)

      ID     Project     Cost    Status
0   A001   Project 1  1002000  Finished
1   A002   Project 2  2000000   Ongoing
2   A003   Project 3  4500000  Finished
3   A004   Project 4  5500000   Ongoing
4   A005   Project 5           Finished
5   A002   Project 6   680000    Failed
6   A005   Project 7   400000  Finished
7   A003   Project 8   350000    Failed
8   A001   Project 9            Ongoing
9   A003  Project 10   300000  Finished
10  A001  Project 11  2000000    Failed
11  A004  Project 12  1000000   Ongoing
12  A004  Project 13  3000000  Finished
13  A005  Project 14  2000000  Finished

In [39]:
#task 3: Split name into first_name and last_name
Employee[['First_name', 'Last_name']] = Employee['Name'].str.split(' ',expand=True) #splits name into first and last name
Employee = Employee.drop('Name',axis =1) #removes older Name
print(Employee)

     ID Gender     City  Age First_name  Last_name
0  A001      M    Paris   25       Jhon      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [41]:
#task 4 join all three data frames name it final
merged=pd.merge(Project,Employee,on='ID',how='outer') #joined project and employee named it merged
Final=pd.merge(merged,Seniority_level,on='ID',how='outer') #joined merged and seniority_level named it final
print(Final)

      ID     Project     Cost    Status Gender     City  Age First_name  \
0   A001   Project 1  1002000  Finished      M    Paris   25       Jhon
1   A001   Project 9            Ongoing      M    Paris   25       Jhon
2   A001  Project 11  2000000    Failed      M    Paris   25       Jhon
3   A002   Project 2  2000000   Ongoing      F   London   27      Alice
4   A002   Project 6   680000    Failed      F   London   27      Alice
5   A003   Project 3  4500000  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000  Finished      F  Newyork   31       Nina
11  A005   Project 5           Finished      F   Madrid   30        Amy
12  A005   Project 7   400000  Finished      F   Madrid   30        Amy
13  A005  Project 14  2000000  Finished      F   Madrid   30        Amy

    Last_name  Designation Level
0       Alter                  2
1       Alter                  2
2       Alter                  2
3   Luxumberg                  2
4   Luxumberg                  2
5   Sabestine                  3
6   Sabestine                  3
7   Sabestine                  3
8       Adgra                  2
9       Adgra                  2
10      Adgra                  2
11      Johny                  3
12      Johny                  3
13      Johny                  3

In [42]:
#Task 5: Add Bonus Column
Final['Cost']=pd.to_numeric(Final['Cost'],errors='coerce') #converted cost into numeric type
def calculate_bonus(row):
    if row['Status'] == 'Finished' and pd.notna(row['Cost']):
        return row['Cost']*0.05 #5% bonus if status is finished
    else:
        return 0 #no bonus for others
Final['Bonus']=Final.apply(calculate_bonus,axis=1)
print(Final)

      ID     Project       Cost    Status Gender     City  Age First_name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       Jhon
1   A001   Project 9        NaN   Ongoing      M    Paris   25       Jhon
2   A001  Project 11  2000000.0    Failed      M    Paris   25       Jhon
3   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.0    Failed      F   London   27      Alice
5   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
11  A005   Project 5        NaN  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
13  A005  Project 14  2000000.0  Finished      F   Madrid   30        Amy

    Last_name  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  2       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  2       0.0
5   Sabestine                  3  225000.0
6   Sabestine                  3       0.0
7   Sabestine                  3   15000.0
8       Adgra                  2       0.0
9       Adgra                  2       0.0
10      Adgra                  2  150000.0
11      Johny                  3       0.0
12      Johny                  3   20000.0
13      Johny                  3  100000.0

In [44]:
#task 6: Demote designation and delete records
Final.loc[Final['Status'] == 'Failed', 'Designation Level'] -=1 #demote designation
Final=Final[Final['Designation Level'] <= 4] #delete employees with designation level above 4
print(Final)

      ID     Project       Cost    Status Gender     City  Age First_name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       Jhon
1   A001   Project 9        NaN   Ongoing      M    Paris   25       Jhon
2   A001  Project 11  2000000.0    Failed      M    Paris   25       Jhon
3   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.0    Failed      F   London   27      Alice
5   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
6   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
7   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
8   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
11  A005   Project 5        NaN  Finished      F   Madrid   30        Amy
12  A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
13  A005  Project 14  2000000.0  Finished      F   Madrid   30        Amy

    Last_name  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  1       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
5   Sabestine                  3  225000.0
6   Sabestine                  2       0.0
7   Sabestine                  3   15000.0
8       Adgra                  2       0.0
9       Adgra                  2       0.0
10      Adgra                  2  150000.0
11      Johny                  3       0.0
12      Johny                  3   20000.0
13      Johny                  3  100000.0

In [46]:
#Task 9 : Add Cost of all project for each employee
TotalprojCost = Final.groupby(['ID','First_name'])['Cost'].sum().reset_index() #group by id,first name,and sum cost
TotalprojCost.rename(columns={'Cost':'Total Cost'},inplace=True) #rename the cost column into total cost
print(TotalprojCost)

     ID First_name  Total Cost
0  A001       Jhon   3002000.0
1  A002      Alice   2680000.0
2  A003        Tom   5150000.0
3  A004       Nina   9500000.0
4  A005        Amy   2400000.0

In [48]:
#Task 10: Print Employees Whose city contains 'o'
employees_with_o = Final[Final['City'].str.contains('o',case=False,na=False)]
print(employees_with_o)

      ID     Project       Cost    Status Gender     City  Age First_name  \
3   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
4   A002   Project 6   680000.0    Failed      F   London   27      Alice
8   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
9   A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
10  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina

    Last_name  Designation Level     Bonus
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
8       Adgra                  2       0.0
9       Adgra                  2       0.0
10      Adgra                  2  150000.0

In [65]:
#Task 8: Promote designation Level for Employees whose age > 29  
def promote_desig(row):
    if row["Age"]>29: #check the age >29
        row["Designation Level"]+=1 # adding 1 in designation 
    return row
Final = Final.apply(promote_desig, axis = 1)
print(Final)

      ID     Project       Cost    Status     City  Age  First_name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. Jhon
1   A001   Project 9        NaN   Ongoing    Paris   25    Mr. Jhon
2   A001  Project 11  2000000.0    Failed    Paris   25    Mr. Jhon
3   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
4   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
5   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
6   A003   Project 8   350000.0    Failed   Berlin   29     Mr. Tom
7   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom
8   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
9   A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
10  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina
11  A005   Project 5        NaN  Finished   Madrid   30    Mrs. Amy
12  A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy
13  A005  Project 14  2000000.0  Finished   Madrid   30    Mrs. Amy

    Last_name  Designation Level     Bonus
0       Alter                  2   50100.0
1       Alter                  2       0.0
2       Alter                  1       0.0
3   Luxumberg                  2       0.0
4   Luxumberg                  1       0.0
5   Sabestine                  3  225000.0
6   Sabestine                  2       0.0
7   Sabestine                  3   15000.0
8       Adgra                  4       0.0
9       Adgra                  4       0.0
10      Adgra                  4  150000.0
11      Johny                  5       0.0
12      Johny                  5   20000.0
13      Johny                  5  100000.0